In [7]:
import glob
from pprint import pprint
from functools import lru_cache

import pandas as pd
from pymongo import MongoClient
from dltools import LmaReader

In [20]:
df = pd.concat([pd.read_csv(fn, sep="\t", names=["gm1", "gm2"]) for fn in glob.iglob("Data/ZD aq*.txt")])
df.head()

                gm1       gm2
158648231  0.104167  0.009929
158648232  0.084764  0.008909
158648233  0.087543  0.009239
158648234  0.099000  0.009721
158648235  0.072193  0.007615

In [ ]:
print("Update data...")
with MongoClient("mongodb") as client:
    collect = client["sacla_2017b8065"]["resorted"]
    for tag, d in df.iterrows():
        collect.find_one_and_update({"tag": tag}, {"$set": d.to_dict()})
print("Done!")

Update data...